@charset "UTF-8";

input[type=button],input[type=submit] {
    -webkit-appearance: none
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman',Times,serif;
    font-size: .875rem;
    background: #f0f0f0
}

mg {
    height: auto;
    max-width: 100%
}

a:active,a:link,a:visited {
    color: #212529
}

a:hover {
    color: #e52795
}

h1 {
    font-size: 1.48rem;
    margin: 0 0 .5rem;
    padding: 5px 0;
    font-weight: 700;
    color: #212529
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    color: #212529;
    position: relative
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    padding: 12px 0;
    margin: 0
}

input[type=file] {
    font-size: .875rem
}

p {
    margin: 0 0 1rem;
    word-break: break-all
}

h1+p .text-red {
    display: block
}

a,a:hover {
    text-decoration: none;
    outline: 0
}

label {
    margin: 0
}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

.navbar {
    background-color: #fff!important;
    padding: 0!important;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.2)
}

.navbar-brand img {
    height: 50px;
    width: 100px
}

.scroll-area {
    overflow: auto
}

.scroll-area-a700 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 700px))
}

.scroll-area-a690 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 690px))
}

.scroll-area-a680 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 680px))
}

.scroll-area-a670 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 670px))
}

.scroll-area-a660 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 660px))
}

.scroll-area-a650 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 650px))
}

.scroll-area-a640 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 640px))
}

.scroll-area-a630 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 630px))
}

.scroll-area-a620 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 620px))
}

.scroll-area-a610 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 610px))
}

.scroll-area-a600 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 600px))
}

.scroll-area-a590 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 590px))
}

.scroll-area-a580 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 580px))
}

.scroll-area-a570 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 570px))
}

.scroll-area-a560 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 560px))
}

.scroll-area-a550 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 550px))
}

.scroll-area-a540 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 540px))
}

.scroll-area-a530 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 530px))
}

.scroll-area-a520 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 520px))
}

.scroll-area-a510 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 510px))
}

.scroll-area-a500 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 500px))
}

.scroll-area-a490 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 490px))
}

.scroll-area-a480 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 480px))
}

.scroll-area-a470 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 470px))
}

.scroll-area-a460 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 460px))
}

.scroll-area-a450 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 450px))
}

.scroll-area-a440 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 440px))
}

.scroll-area-a430 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 430px))
}

.scroll-area-a420 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 420px))
}

.scroll-area-a410 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 410px))
}

.scroll-area-a400 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 400px))
}

.scroll-area-a390 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 390px))
}

.scroll-area-a380 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 380px))
}

.scroll-area-a370 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 370px))
}

.scroll-area-a360 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 360px))
}

.scroll-area-a350 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 350px))
}

.scroll-area-a340 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 340px))
}

.scroll-area-a330 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 330px))
}

.scroll-area-a320 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 320px))
}

.scroll-area-a310 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 310px))
}

.scroll-area-a300 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 300px))
}

.scroll-area-a290 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 290px))
}

.scroll-area-a280 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 280px))
}

.scroll-area-a270 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 270px))
}

.scroll-area-a260 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 260px))
}

.scroll-area-a250 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 250px))
}

.scroll-area-a240 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 240px))
}

.scroll-area-a230 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 230px))
}

.scroll-area-a220 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 220px))
}

.scroll-area-a210 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 210px))
}

.scroll-area-a200 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 200px))
}

.scroll-area-a190 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 190px))
}

.scroll-area-a180 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 180px))
}

.scroll-area-a170 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 170px))
}

.scroll-area-a160 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 160px))
}

.scroll-area-a150 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 150px))
}

.scroll-area-a140 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 140px))
}

.scroll-area-a130 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 130px))
}

.scroll-area-a120 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 120px))
}

.scroll-area-a110 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 110px))
}

.scroll-area-a100 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 100px))
}

.scroll-area-a90 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 90px))
}

.scroll-area-a80 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 80px))
}

.scroll-area-a70 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 70px))
}

.scroll-area-a60 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 60px))
}

.scroll-area-a50 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 50px))
}

.scroll-area-a40 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 40px))
}

.scroll-area-a30 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 30px))
}

.scroll-area-a20 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 20px))
}

.scroll-area-a10 {
    max-height: calc(100vh - (var(--header-height) + var(--footer-height) + 10px))
}

.scroll-area-a10,.scroll-area-a100,.scroll-area-a110,.scroll-area-a120,.scroll-area-a130,.scroll-area-a140,.scroll-area-a150,.scroll-area-a160,.scroll-area-a170,.scroll-area-a180,.scroll-area-a190,.scroll-area-a20,.scroll-area-a200,.scroll-area-a210,.scroll-area-a220,.scroll-area-a230,.scroll-area-a240,.scroll-area-a250,.scroll-area-a260,.scroll-area-a270,.scroll-area-a280,.scroll-area-a290,.scroll-area-a30,.scroll-area-a300,.scroll-area-a310,.scroll-area-a320,.scroll-area-a330,.scroll-area-a340,.scroll-area-a350,.scroll-area-a360,.scroll-area-a370,.scroll-area-a380,.scroll-area-a390,.scroll-area-a40,.scroll-area-a400,.scroll-area-a410,.scroll-area-a420,.scroll-area-a430,.scroll-area-a440,.scroll-area-a450,.scroll-area-a460,.scroll-area-a470,.scroll-area-a480,.scroll-area-a490,.scroll-area-a50,.scroll-area-a500,.scroll-area-a510,.scroll-area-a520,.scroll-area-a530,.scroll-area-a540,.scroll-area-a550,.scroll-area-a560,.scroll-area-a570,.scroll-area-a580,.scroll-area-a590,.scroll-area-a60,.scroll-area-a600,.scroll-area-a610,.scroll-area-a620,.scroll-area-a630,.scroll-area-a640,.scroll-area-a650,.scroll-area-a660,.scroll-area-a670,.scroll-area-a680,.scroll-area-a690,.scroll-area-a70,.scroll-area-a700,.scroll-area-a80,.scroll-area-a90 {
    min-height: 100px
}

.table-sticky {
    width: 100%;
    overflow: auto
}

.table-sticky .sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 20
}

.table-sticky .sticky tr th {
    position: -webkit-sticky;
    position: sticky;
    white-space: nowrap
}

.table-sticky .sticky tr:first-child th {
    top: 0
}

.table-sticky .sticky tr:nth-child(2) th {
    top: 36px
}

.table-01,.table-02,.table-03 {
    width: 100%;
    margin: 0
}

.table-01>thead>tr>th,.table-02>thead>tr>th,.table-03 thead th {
    background: #e0e0e0;
    color: #212529;
    font-weight: 700;
    text-align: center;
    padding: 8px;
    white-space: nowrap
}

.table-01>tbody>tr>th {
    background: rgba(0,0,0,.1);
    color: #212529;
    font-weight: 700;
    text-align: center;
    padding: 4px 10px;
    white-space: nowrap
}

.table-01>tbody>tr>td,.table-02>tbody>tr>td,.table-03 tbody td {
    color: #212529;
    padding: 4px 10px;
    vertical-align: middle;
    white-space: nowrap
}

.table-01 tbody td a,.table-03 tbody td a {
    text-decoration: underline
}

.table-03 thead th>span {
    width: 100%;
    display: inline-block;
    background: rgba(0,0,0,.1);
    border-radius: 3px;
    padding: .2rem 10px
}

.table-03 tbody td {
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.table-03 tbody td span {
    background: rgba(60,60,60,.1);
    border-radius: 2px;
    display: inline-block;
    padding: .1rem 4px;
    color: #666
}

.w20 {
    width: 20px!important
}

.w30 {
    width: 30px!important
}

.w40 {
    width: 40px!important
}

.w50 {
    width: 50px!important
}

.w60 {
    width: 60px!important
}

.w70 {
    width: 70px!important
}

.w80 {
    width: 80px!important
}

.w90 {
    width: 90px!important
}

.w100 {
    width: 100px!important
}

.w110 {
    width: 110px!important
}

.w120 {
    width: 120px!important
}

.w130 {
    width: 130px!important
}

.w140 {
    width: 140px!important
}

.w150 {
    width: 150px!important
}

.w200 {
    width: 200px!important
}

.w210 {
    width: 210px!important
}

.w220 {
    width: 220px!important
}

.w230 {
    width: 230px!important
}

.w240 {
    width: 240px!important
}

.w250 {
    width: 250px!important
}

.w300 {
    width: 300px!important
}

.w4em {
    width: 4em!important
}

.w5em {
    width: 5em!important
}

.w6em {
    width: 6em!important
}

.w7em {
    width: 7em!important
}

.w8em {
    width: 8em!important
}

.w9em {
    width: 9em!important
}

.w10em {
    width: 10em!important
}

.w11em {
    width: 11em!important
}

.w12em {
    width: 12em!important
}

.w14em {
    width: 14em!important
}

.w16em {
    width: 16em!important
}

.w18em {
    width: 18em!important
}

.w20em {
    width: 20em!important
}

.w24em {
    width: 24em!important
}

.w28em {
    width: 28em!important
}

.w32em {
    width: 32em!important
}

.w36em {
    width: 36em!important
}

.w100ps {
    width: calc(100% - 52px)!important
}

.spacer-r {
    padding: 0 16px 0 0
}

.spacer-w {
    padding: 0 16px
}

.spacer-l {
    padding: 0 0 0 16px
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

@keyframes poyo {
    0% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(0.9)
    }

    75% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

.poyo {
    animation: poyo .5s ease-in
}

@keyframes flash {
    0%,100% {
        opacity: 1
    }

    50% {
        opacity: .5
    }
}

@keyframes fadeinup {
    0% {
        opacity: 0;
        transform: translate3d(0,5%,0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

.fadeinup {
    animation: fadeinup .14s
}